#!/bin/bash

# This program launch one run of iterated F-Race.
# It should execute tune.R as some point like in:
#
#R --vanilla --slave < tune.R
#
# However, it could be much more complicated, see the examples in
# hooks/examples/

