## Template for parameter configuration file for Iterated F-Race.
##
## The format is one parameter per line. Each line contains:
##
## 1: Name of the parameter. An unquoted alphanumeric string,
##    example: ants
## 2: Switch to pass the parameter. A quoted (possibly empty) string, 
##    if the value and the switch must be separated, add a space at
##    the end of the string. Example : "--version1 --ants "
## 3: Type. An unquoted single letter, among 
##     i: Integer, c: component, r: real.
## 4: For c: All possible values, for i,r: minimum and maximum
##    values. A variable number of numbers or unquoted strings within
##    parenthesis separated by commas.
## 5: Optionally, a character '|' followed by a parameter name
##    followed by a set of values enclosed in parenthesis.
##    Example: | mode (acs, ras)
##
# 1:            2:                   3: 4:
param1          "--param1 "          i  (1, 10) | mode (x1, x2)
param2          "--param2 "          i  (1, 10)
mode            "--"                 c  ( x1 , x2, x3)
real            "--paramreal="       r  (1.5, 4.5)
#unused         "-u "                c  (1, 2, 10, 20)
