############################################################################
## Configuration for Iterated F-Race.
## FIXME: configuration should be passed as parameters or read from a
## configuration file that is not R format.

## FIXME: Add a description for this, what is it used for?
experiment.name <- "F-RACE"

## FIXME: Add a description for this,  what is it used for?
extra.description <- "A description"

## FIXME: This is not used anymore and should be deleted everywhere.
executable <- ""

## Directory where the programs will be run
## FIXME: This does not work yet, the program will be run in TUNE-number
.tune.execdir <- ""

## FIXME: What is this ????
executablecomp <- ""

## Folder where tuning instances are located.
.tune.tuning.instances.dir <- "./Instances"

## File with a list of instances and (optionally) parameters. If this
## is empty, then all instances are taken from
## .tune.tuning.instance.dir. Otherwise, this is a list of filenames
## relative to .tune.tuning.instance.dir.
.tune.tuning.instances.file <- ""

## FIXME: What is this ????
test.instance.dir <- ""

## Maximum number of experiments
maxAllotedExperiments <- 1000

## we need instances maximum 2 times the normal number of rounds (6) per iteration
##maxInstance <- 2*round(maxExperiments/nrow(candidate.configurations.dataframe))
## modified the maxInstance to infinity
## ??? What is this??
maxInstance <- 150

## File that contains the description of the parameters.
parameters.file <- "./parameters.txt"

# Global variable indicating the significant digit.
# FIXME: significant digits for what?
signif.digit <- 4

# Debug level. debug.level <- 0 silences all debug messages.  Higher
# values provide more verbose debug messages.
debug.level <- 0

# Maximum number of sampling iterations.
max.sample.itr <- 10

## END of configuration file
############################################################################
