#!/bin/bash
###############################################################################
# This hook is the command that is executed every run.
# Check the examples in examples/
#
# This hook is run in a temporary directory, the same directory where
# hook-instance-finished is executed. Currently this temporary
# directory is created under the working directory where you launched
# F-Race, and, hence, you can copy files from F-Race directory to the
# temporary directory with: cp --force ../file .
#
#
# PARAMETERS:
# $1 is the candidate number
# $2 is the instance name
# The rest ($* after `shift 2') are parameters to the run
#
# RETURN VALUE:
# This script should print nothing.
# Exit with 0 if no error, with 1 in case of error
###############################################################################

EXE=~/bin/program
FIXED_PARAMS=""
CANDIDATE=$1
INSTANCE=$2
shift 2 || exit 1
CAND_PARAMS=$*

exec $EXE ${FIXED_PARAMS} -i $INSTANCE ${CAND_PARAMS} 1> c${CANDIDATE}.stdout 2> c${CANDIDATE}.stderr
