#!/bin/bash
###############################################################################
# This hook is run for each candidate after all candidate
# configurations have been run on a single instance.
#
# Check the examples in examples/
#
# PARAMETERS:
# $1 is the instance name
# $2 is the candidate number
#
# RETURN VALUE:
# This hook should print a single numerical value
###############################################################################
INSTANCE=$1
NUMCAND=$2

while [ -s "$NUMCAND" ]; do
    sleep 10
done

if COST=`cat ${NUMCAND}.run.output | grep -e '^[0-9]' | cut -f1`; then
    echo "$COST"
    rm -f ${NUMCAND}.run.output ${NUMCAND}.run.stderr
    exit 0
else
    exit 1
fi

