#!/bin/bash
###############################################################################
# This hook is run for each candidate after all candidate
# configurations have been run on a single instance.
#
# Check the examples in examples/
#
# PARAMETERS:
# $1 is the instance name
# $2 is the candidate number
#
# RETURN VALUE:
# This hook should print a single numerical value
###############################################################################
INSTANCE=$1
NUMCAND=$2

STDOUT=c${NUMCAND}.stdout
STDERR=c${NUMCAND}.stderr

SLEEPTIME=1
while [ ! -s ${STDOUT} ]; do
    sleep $SLEEPTIME
    let "SLEEPTIME += 1"
done

if COST=`cat ${STDOUT} | grep -e '^[0-9]' | cut -f1`; then
    echo "$COST"
    rm -f ${STDOUT} ${STDERR}
    exit 0
else
    exit 1
fi
