#!/bin/bash

# This program launches one run of iterated F-Race.
# It should execute ifrace at some point like in:
#
# The simplest is to just invoke ifrace locally
# BINDIR=$1
# EXECDIR=$2
# shift 2
# exec 1> $EXECDIR/ifrace-$$.stdout 
# exec 2> $EXECDIR/ifrace-$$.stderr
# exec $BINDIR/ifrace $EXECDIR $*
#
# All parameters are passed down to ifrace
#
# However, it could be much more complicated, see the examples in
# examples/

