#!/bin/bash

# This program launches one run of iterated F-Race.
# It should execute ifrace at some point like in:
#
#BINDIR=$1
#shift
#$BINDIR/ifrace $* 
#
# All parameters are passed down to ifrace
#
# However, it could be much more complicated, see the examples in
# examples/

