#!/bin/bash

# # This program launches one run of iterated Race.
# # It should execute irace at some point like in:
# #
# # The simplest is to just invoke irace locally
# BINDIR=$1
# EXECDIR=$2
# shift 2
# exec 1> $EXECDIR/irace-$$.stdout 
# exec 2> $EXECDIR/irace-$$.stderr
# exec $BINDIR/irace --exec-dir=$EXECDIR $*
# #
# # All parameters are passed down to irace
# #
# # However, it could be much more complicated, see the examples in
# # examples/
