## This is an example of specifying a list of instances.

# Each line is an instance relative to trainInstancesDir/testInstancesdir
# unless set to "" (see scenario.txt.tmpl) and an optional sequence of
# instance-specific parameters that will be passed to target-runner when
# invoked on that instance.

# Empty lines and comments are ignored.

100/100-1_100-2.tsp --time 1
100/100-1_100-3.tsp --time 2
100/100-1_100-4.tsp --time 3
